@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

:root {
  --deemphasized: silver;
  --title-color: ghostwhite;
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--deemphasized);
  background-color: black;
}

h1 {
  font-weight: 700;
  font-size: 4.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: var(--title-color); 
}

a {
  text-decoration: none;
  color: var(--deemphasized);
  outline: none;
  text-align: center;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

p {
  font-size: 1.6em;
  /* color: var(--title-color); */
  margin-bottom: 0.1em;
  text-align: center;
}

#landing-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 86vw;
  height: 92vh;
}

#eyes {
  animation-name: eyes-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 3;
  transform-origin: 70% 70%;
  display: inline-block;
  text-indent: 0 !important;
}

@keyframes eyes-animation {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.1);
  }

  30% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

#uwaterloo {
  font-weight: 500;
  border-bottom: 2px solid #ffd74f;
}

#uwaterloo:hover {
  background-color: #927b2d;
  color: var(--title-color);
}

#devpost {
  font-weight: 500;
  border-bottom: 2px solid #3acce6;
}

#devpost:hover {
  background-color: #206470;
  color: var(--title-color);
}

#socials {
  margin-top: 2em;
}

.fas,
.fab {
  font-size: 1.3em !important;
  color: #848484;
  margin-right: 2em;
  transition: color 0.3s ease;
}

.fas:hover,
.fab:hover {
  color: var(--title-color);
}

.fa-linkedin-in {
  margin-right: 0;
}

#resume {
  font-size: 1.2em;
  color: var(--deemphasized);
  transition: border-color 0.3s ease;
  border-bottom: 1px solid var(--deemphasized);
}

#resume:hover {
  color: var(--title-color);
  border-bottom: 1px solid var(--title-color);
}

#resume-desc {
  font-size: 1.1em;
  color: var(--deemphasized);
}

.byline {
  text-align: center;
  margin-top: 8em;
}
